.feedback{
    font-size: 14px;
}
.feedback__container {
    margin-top: 120px;
}
.form__inputs {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.feedback-row {
    margin-top: 22px;
    width: 100%;
    display: flex;
    gap: 30px;

    @include mediaMedium {
        justify-content: center;
    }
}
.feedback__form {
    max-width: 391px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.feedback__img {
    max-width: 100%;
    min-width: 10%;
    height: 100%;
    @include mediaMedium {
        display: none;
    }
}

