$gray: #BDBDBD;
$accent-dark: #333;
$accent: #FBFBFB;
$footer-bg: #2C2C2C;
$placeholder: #F3F3F3;
$active: #F9F9F9;
$lg: 960px;
$md: 768px;
$mobile: 425px;
$font-main: 'TT Hoves', sans-serif;
$white: #FFF;
$black: #000000;